<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ohgiraffers.section01.xmlmapper.ElementTestMapper">

    <!-- 필기. Mapper.xml 파일에서 사용할 수 있는 엘리먼트는 총 9가지 이다.
            <cache>, <cache-ref>, <resultMap>, <parameterMap>, <sql>
            <select>, <insert>, <update>, <delete>
     -->

    <!-- 필기. <cache> 엘리먼트 -->
    <!-- 필기.
            1. eviction : 캐시 알고리즘 속성 LRU, FIFO, SOFT, WEAK 디폴트는 LRU
            2. flushInterval : 설정 된 캐시를 얼마동안 유지할 지 밀리초 단위로 양수만 설정 가능
            3. size : 캐시에 저장할 객체의 수를 지정, 디폴트는 1024 (더 크게도 가능하지만 메모리 고려)
            4. readonly : 읽기만 가능한 경우 캐시 데이터의 변경이 되지 않음
            - 캐시란? 컴퓨터 과학에서 데이터나 값을 미리 복사해둔 임시 장소를 가리킨다.
            - 값을 다시 계산하는 경우 시간을 절약하고 싶을 때 사용한다.
            - 캐시에 데이터를 미리 복사 해두면 접근 시간 없이 더 빠른 속도로 데이터에 접근 가능하다.
     -->
    <cache eviction="LRU" flushInterval="1000" size="512" readOnly="true"/>

    <select id="selectCacheTest" resultType="java.lang.String">
        SELECT
            MENU_NAME
        FROM
            TBL_MENU
    </select>

</mapper>